h1, h2{
  text-align: center;
}
h1, h3{
  display: inline-block;
  border-bottom: solid black 2px;
}
input:focus{
  outline: none;
}
input{
  border: solid grey 1px;
  border-radius: 5px;
}
input[type="radio"]{
  margin: 0 5px 0 5px;
}
.big, html{
  background-color: #F1F1F1;
}
.error{
  border-color: red;
  color: red;
  display: block;
  font-style: italic;
  font-weight: normal;
}
.main{
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
.form-control-lg{
  border-radius: 5px;
  width: 100%;
  height: 40px;
}
.gen-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bold-label{
  font-weight: 600;
}
.blurb{
  font-size: 18px;
}
.concerns{
  font-weight: 600;
  margin-bottom: 25px;
}
.note{
  font-weight: 600;
}
.yes-no{
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}
.skin{
  font-size: 16px;
}
.yes-label{
  width: auto;
}
.skin-health{
  text-align: center;
}
.head{
  text-align: center;
}
.gen-head{
  margin-bottom: 25px;
}
.supp-list{
  margin-bottom: 25px;
}
.consultation{
  text-align: center;
  margin-bottom: 25px;
}
.text{
  border: solid grey 1px;
  border-radius: 5px;
}
.skin-care{
  margin-bottom: 25px;
}
.required{
  margin-bottom: 15px;
  font-style: italic;
  color: red;
}
